# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mysql
    database_port: 3306
    database_name: hotel-management
    database_user: root
    database_password: root
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: pitech.hotel.management@gmail.com
    mailer_password: pitechplus
    secret: ThisTokenIsNotSoSecretChangeIt

    hotel_email: pitech.hotel.management@gmail.com
    token_lifetime: +1 minutes
