<h3>{% trans %}You did it! You registered!{% endtrans %}</h3>

{% trans with {'%user%' : username } %} Hi %user% ! You're successfully registered.  {% endtrans %}

{# example, assuming you have a route named "login" #}
{% trans %}To activate the account, go to: {% endtrans %}
<a href="http://hotel-management.local{{ path('activate-account', {'activationToken' : activationToken}) }}">
    {% trans %} here. {% endtrans %}
</a>
<br>


{% trans %}
Your credentials:
{% endtrans %}
<br>
{% trans with {'%user%' : username } %}
    Username: %user%
{% endtrans %}
<br>
{% trans with {'%pass%' : password} %}
    Password: %pass%
{% endtrans %}
{% trans %}
<br>
Thanks!
{% endtrans %}
