{% block flash_messages %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">{{'flash_messages.close' | trans }}</span></button>
                {{ 'flash_messages.message' | trans({'%message%' : message}) | raw }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
