<!DOCTYPE html>
<html>
    <head>
        {% include 'header.inc.html.twig' %}
    </head>
    <body>
        <div class="container">
            {% include 'flash-messages.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        {% include 'footer.inc.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
