{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    {% trans %} Oops! {% endtrans %}
                </h1>
                <h2>
                    {% trans with {'%error%' : error} %} %error% {% endtrans %}
                </h2>
                <div class="error-actions">
                    <a href="{{ path('login') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        {% trans %} Take Me To Login {% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
