{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    {% trans with {'%message' : message} %} %message% ! {% endtrans %}
                </h1>
                    {% if success %}
                        <div class="error-actions">
                            <a href="{{ path('login') }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                                {% trans %}Take Me To Login {% endtrans %}
                            </a>
                        </div>
                    {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
