/* DEFAULT FONT */

$regular: sans-serif;


 /* COLOR SCHEME */

$brand-light: #0e8488;
$light: #999999;
$medium: #242424;
$accent: #044e7d;
$accent-active: #E89C30;
$border: #a3a3a3;
$bold: 'open_sansbold', Arial;
$semi-bold: 'open_sanssemibold', Arial;
$regular: 'open_sansregular', Arial;

