{% extends 'base.html.twig' %}

{% block body %}
    <div class="content general">
        {{ include('bookings/create-booking-content.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bookings/create-booking.js') }}"></script>
{% endblock %}
