{% if showHotels %}
    <div class="col-md-12 col-xs-12 no-lr-padding">
        <div class="styled-input">
            {{ form_row(booking_form.hotel, {'attr': {'class': 'selectpicker', 'data-action': path('load-available-rooms')}}) }}
        </div>
    </div>
{% endif %}
