{% if showRooms %}
    <div class="col-md-12 col-xs-12 no-lr-padding">
        <div class="styled-input">
            {{ form_row(booking_form.room) }}
        </div>
    </div>
{% endif %}
{% if showSave %}
    {{ form_row(booking_form.save) }}
{% endif %}
