{% extends 'base.html.twig' %}

{% block body %}

    <div class="content general">
        <div class="container-fluid">
            <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding">
                <div class="row">
                    <div class="wrapper homepage">
                        <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding title">
                            <h1 class="text-center">{{ 'page.dashboard.welcome_user'| trans({'%user%' : app.user.username}) }}</h1>
                        </div>
                        <p class="light text-center">{{ 'page.dashboard.welcome'| trans }}</p>
                        <p class="margin-top-small text-center">{{ 'page.dashboard.next'| trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
