{% extends 'base.html.twig' %}

{% block body %}
<div class="content login">
    <div class="container-fluid">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="wrapper">
                    <div class="container-small">
                        <div class="col-md-12 col-sm-12 col-xs-12 no-lr-padding title">
                            <h1 class="text-center">Welcome to Hotel Management System,
                                please login!</h1>
                        </div>
                        <form class="login-form" action="{{ path('login') }}" method="post">
                            <div class="col-md-12 col-xs-12 no-lr-padding">
                                <div class="styled-input">
                                    <label>Username</label>
                                    <div class="rel">
                                        <input id="_username" name="_username" type="text" placeholder="Current Username" />
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 no-lr-padding">
                                <div class="styled-input">
                                    <label>Password</label>
                                    <div class="rel">
                                        <input id="_password" name="_password" type="text" placeholder="Current Password" />
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12 no-lr-padding">
                                <p>Don’t have an account? Please <a href="#" class="register">register.</a></p>
                            </div>
                            <div class="col-md-12 col-xs-12 no-lr-padding button-wrapper">
                                <a href="#register" class="register-link">Register</a>
                                <button type="submit" class="btn submit pull-right">Login</button>
                            </div>
                        </form>
                        <div class="col-md-12 col-xs-12 no-lr-padding text-center login-form-info">
                            <p class="light">Registrations will be done only as Client.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
